.team-container {
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    /* background-color: green; */
}

.tableWrapper {
    max-height: 50vh;
    overflow-y: auto;
    /* background-color: red; */
    border-radius: 8px;
}

table thead tr {
    position: sticky;
    top: 0;
    background: white;
    z-index: 10;
}

.sortHeader {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

th,
td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

thead {
    background-color: #f5f5f5;
}

.profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.icon {
    margin-right: 8px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}


.editBtn {
    border-radius: 2rem;
    color: white;
    background-color: white;
}

.addBtn {
    padding: 10px 15px;
    border: 0;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s linear;

    & .icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.addBtn:hover {
    color: white;
    background-color: var(--primary-btn);
}

.icon {
    font-size: 1.2rem;
    border-radius: 2rem;

}

.deleteBtn,
.saveBtn {
    background-color: var(--primary-btn);
    color: white;
    border-radius: 2rem;
    padding: 10px 20px;
    border: 0;
}

.cancelBtn {
    padding: 10px 20px;
    border-radius: 2rem;
    border: 0;
}

.deletepopup {
    background-color: white;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    right: 20%;
    top: 10%;
    z-index: 20;
    border-radius: 10px;
    min-width: 400px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.addMemberPopup {
    background-color: white;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    z-index: 20;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    max-width: 500px;
    min-height: 200px;


    & input,
    select {
        outline: none;
        border: 1px solid var(--secondary-gray);
        width: 100%;
        margin: 0.2rem 0;
    }

    & .input-group {
        margin: 1rem 0;
    }

}