.navbar-container {
    background-color: var(--white);
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar-content {
    display: flex;
    width: 98%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    /* background-color: green; */
}

.logo {
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        width: 120px;
    }
}

.nav-btns {
    display: flex;
    gap: 10px;
}