.sidebar-container {
    background-color: rgb(246, 244, 244);
    min-width: 5vw;
    border-right: 1px solid #c7c5c5;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0;
    min-height: 100vh;

    & img {
        width: 40px
    }

    & ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
    }

    & li {
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: column;

        & .link {
            /* background-color: red; */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: #424242;
        }

        & .icon {
            font-size: 1.2rem;
        }

        & .label {
            opacity: 0;
            font-size: 0.54rem;
            visibility: hidden;
            text-align: center;
            transition: opacity 0.3s;
        }

        & .icon:hover+.label {
            opacity: 1;
            visibility: visible;
        }
    }

}