.message {
    min-width: 250px;
    max-width: 300px;
    height: 120px;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
}