.chatbot-container {
    width: 420px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    /* background-color: red; */

    & .chat-header {
        width: 100%;
        height: 12%;
        color: white;
        display: flex;
        align-items: center;
        padding: 10px;


        & .chatbot-name {
            font-size: 1.2rem;
            font-weight: 400;
        }
    }

    .avatar {
        width: 40px;
        height: 40px;
        /* background-color: red; */
        border-radius: 50%;
        margin-right: 10px;
        position: relative;
        border: 2px solid white;

        & img {
            width: 100%;
            height: 100%;
        }

        & p {
            padding: 5px;
            background-color: #00BDA5;
            border-radius: 50%;
            position: absolute;
            border: 1px solid white;
            bottom: 0;
            right: -4px;

        }
    }


    & .messages {
        height: 90%;
        padding: 1.5rem;
        display: flex;
        overflow: auto;
        flex-direction: column;
    }



    & .textBox {
        height: 18%;
        width: 100%;

        & textarea {
            resize: none;
            width: 100%;
            border: 0;
            padding: 1rem;
            font-size: 1rem;
            border-top: 1px solid var(--secondary-gray);
            height: 100%;

        }

        & textarea:focus {
            outline: none;
        }

    }

    & .saveconfigBtn {
        padding: 10px 20px;
    }
}