.signin-container {
    background-color: green;
    min-height: 100vh;
    display: flex;
}

.sign-banner {
    flex: 1;
    background-size: cover;
    background-position: right;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
    background-repeat: no-repeat;
    background-image: url("/banner.png");
}

.signin-form-container {
    background-color: white;
    flex: 1.2;
    justify-content: center;
    align-items: center;
    /* background-color: red; */

    & .logo {
        /* background-color: yellow; */
        padding: 1.5rem 2rem;
    }
}

.signin-form {
    /* border: 1px solid black; */
    max-width: 60%;
    margin: auto;

    & h2 {
        font-size: 1.4rem;
        font-weight: 700;
        margin: 1rem 0;
    }

    & input[type="text"],
    & input[type="password"],
    & input[type="email"] {
        width: 100%;
        margin-bottom: 10px;
        outline: none;
        border: 1px solid var(--secondary-gray);
    }

    & .checkbox-group {
        display: flex;
        align-items: center;
        gap: 1.2rem;
    }


    & button {
        width: 100%;
        border-radius: 1rem;
        outline: none;
        border: none;
        padding: 12px;
        font-size: 1rem;
        margin-top: 2rem;
        transition: background-color 0.3s ease;
    }

    & button:hover {
        background-color: var(--primary-btn);
        color: var(--white);
    }
}

.error {
    color: red;
    margin-bottom: 10px;
}