.footer {
    background-color: #f8f9fa;
    padding: 40px;
    font-family: sans-serif;
    border-top: 1px solid #ddd;
}

.footer-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    row-gap: 3rem;
}

.footer-column {
    flex: 1 1 180px;
    margin: 10px;

    & .title {
        font-size: 1.4rem;
    }

    & ul {
        background-color: green;
        list-style: none;
    }
}

 
.footer-social {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

 
.icon {
    color: #adadad;
    font-size: 1.5rem;
}
 