.client-container {
    margin: 4rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 2rem;
    background-color: #f9f9f9;
}