.analytics-container {
    max-width: 55%;
    padding: 1rem;
}

.chartWrapper {}

.heading {
    padding-left: 6rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #0cbf0c;
}

.piechart-container,
.total-chats,
.replytime-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6rem;
    margin-bottom: 2rem;

    & span {
        font-size: 1.5rem;
        color: #0cbf0c;
        font-weight: 500;
    }

    & p {
        max-width: 80%;
    }
}