.about-container {
    padding: 6rem 3rem;
    /* background-color: red; */
    color: var(--text-color);
    min-height: 100vh;

    & .about-content {
        /* background-color: green; */
        max-width: 70%;
        margin: 0 auto;
        text-align: center;


        & h2 {
            font-family: var(--barlow-font);
            font-size: 2.7rem;
            line-height: 1.5;
            font-weight: 700;
        }

        & p {
            font-size: 1.2rem;
            line-height: 1.6;
            margin-top: 1rem;
            font-family: var(--barlow-font);
        }

    }

    & .about-details {
        border: 2px solid #6FA4D7;
        border-radius: 20px;
        overflow: hidden;
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        margin-top: 2rem;
        flex: 1;

        & .detail-image {
            /* width: 50%; */
        }

        & .detail-item {
            flex: 1;
            display: flex;
            flex-direction: column;
            margin: 1rem;
            padding: 5rem 0;

            & .detail-wrapper {
                padding: 1rem;
                flex: 1;

                & h3 {
                    font-family: var(--barlow-font);
                    font-size: 1.5rem;
                }

                & h4 {
                    font-size: 1.2rem;
                    font-family: var(--barlow-font);
                }
            }
        }

         
    }
}

@media (max-width:798px) {
    .about-details {
        flex-direction: column;
    }

    .detail-image {
        /* height:20%;  */
    }

}